/* style for visavail.js */

.navigation {
    width: 75%;
}

.heading {
    text-align: left;
}

body {
    font-family: "Muli", "Helvetica", Arial, sans-serif;
}

.search {
    text-align: center;
}

rect.not_selected {
    fill-opacity: 0.7;
}

/*rect.selected {
    fill-opacity: 0.8;
}*/

.res {
    font-size: 9px;
    color: white;
    word-wrap: break-word;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    fill: white;
}

/*.title {
    display: inline-block;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
}*/

.title {
    display: inline-block;
    font-size: 10px;
    word-wrap: break-word;
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    padding: 2px 4px 2px 2px;
}

rect.rect_res {
    fill: #0052cc;
    stroke: white;
    stroke-width: 2;
}

rect.not_selected {
    fill-opacity: 0.7;
}


.rect_has_data {
    /* blocks that have data */
    fill: #e9a3c9;
    /*fill: blue;*/
    /*fill-opacity: 0.7;*/
    stroke: white;
    stroke-width: 1;
}

.rect_has_data:hover {
    fill: #d75b9f;
    /*fill-opacity: 1;*/
}

.rect_has_no_data {
    /* blocks without data */
    fill: #a1d76a;
    /*fill: blue;*/
    /*fill-opacity: 0.7;*/
    stroke: white;
    stroke-width: 1;
}

.rect_has_no_data:hover {
    fill: #73b530;
    /*fill-opacity: 1;*/
}

.time_period {
    fill: #ffb84d;
    stroke: white;
    stroke-width: 1;
}

.time_period:hover {
    fill: #ff9900;
}

.time_period_active {
    fill: #ff9900;
}

.tooltip_has_data {
    /* color of symbol in tooltip if there is data */
    color: #e9a3c9;
}

.tooltip_has_no_data {
    /* color of symbol in tooltip if there is no data */
    color: #a1d76a;
}

div.tooltip {
    position: absolute;
    /*text-align: center;*/
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
    padding-left: 0;
    /*width: auto;*/
    border: 0;
    /*border-left: thin solid #000000;*/
    pointer-events: none;
    line-height: 12px;
    padding-top: 0;
    display: block;
}

div.tooltip_ {
    position: absolute;
    text-align: left;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
    padding-left: 0;
    width: auto;
    border: 0;
    /*border-left: thin solid #000000;*/
    pointer-events: none;
    line-height: 12px;
    padding-top: 0;
    display: block;
}

.x_tick_emph {
    font-weight: bold;
}

.ytitle {
    /* y axis labels */
    dominant-baseline: middle;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
}

.axis path,
.axis line {
    display: none;
}

.axis text {
    font-size: 12px;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    fill: #777;
}

.vert_grid {
    fill: none;
    stroke: #dddddd;
    stroke-width: 1px;
}

.vert_grid_emph {
    fill: none;
    stroke: #dddddd;
    stroke-width: 2px;
}

.horz_grid {
    fill: none;
    /*stroke: #dddddd;
    stroke-width: 1px;*/
}

.heading {
    font-size: 16px;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    font-weight: bold;
}

.subheading {
    font-size: 12px;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    fill: #777;
}

.legend {
    dominant-baseline: middle;
    font-size: 12px;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    fill: #777;
}