/* style for visavail.js */
#bluepin {border:2px solid white;background:blue;color:white;padding:3px;-webkit-box-shadow:0px 1px 2px black;border-radius:3px;}

#navigation {
    width: 940px;
    float:left;
    vertical-align: top;
}

#overview {
    float:left;
    font-size: 11px;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    margin-bottom: 20px;
    height: 350px;
    width: 360px;
    overflow-y:scroll;
}

#full {
    float:left;
    font-size: 11px;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 400px;
    width: 360px;
    overflow-y:scroll;
}

.examination {
    width: 360px;
    overflow:hidden;
    vertical-align: top;
}

.heading {
    text-align: left;
}

#overview_0 {
    cursor: pointer;
}

#overview_1 {
    cursor: pointer;
}

#overview_2 {
    cursor: pointer;
}

#overview_3 {
    cursor: pointer;
}

#overview_4 {
    cursor: pointer;
}

body {
    float:left;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
}

.search {
    text-align: center;
}

/*rect.not_selected {
    fill: #1A53FF;
    fill-opacity: 0.4;
}

rect.selected {
    fill: #0033CC;
}*/

rect.highlighted {
    fill: #002080;
    /*fill-opacity: 1.25;*/
}

.res {
    font-size: 9px;
    color: white;
    word-wrap: break-word;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    fill: white;
}

/*.title {
    display: inline-block;
    font-size: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
}*/

.title {
    display: inline-block;
    font-size: 10px;
    word-wrap: break-word;
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    padding: 2px 4px 2px 2px;
}

rect.rect_res {
    stroke: white;
    stroke-width: 2;
    fill: #668cff;
    fill-opacity: 1;
}

.rect_has_data {
    /* blocks that have data */
    fill: #e9a3c9;
    /*fill: blue;*/
    /*fill-opacity: 0.7;*/
    stroke: white;
    stroke-width: 1;
}

.rect_has_data:hover {
    fill: #d75b9f;
    /*fill-opacity: 1;*/
}

.rect_has_no_data {
    /* blocks without data */
    fill: #a1d76a;
    /*fill: blue;*/
    /*fill-opacity: 0.7;*/
    stroke: white;
    stroke-width: 1;
}

.rect_has_no_data:hover {
    fill: #73b530;
    /*fill-opacity: 1;*/
}

.time_period {
    fill: #ffb84d;
    stroke: white;
    stroke-width: 1;
}

.time_period:hover {
    fill: #ff9900;
}

.time_period_active {
    fill: #ff9900;
}

.tooltip_has_data {
    /* color of symbol in tooltip if there is data */
    color: #e9a3c9;
}

.tooltip_has_no_data {
    /* color of symbol in tooltip if there is no data */
    color: #a1d76a;
}

div.tooltip {
    position: absolute;
    /*text-align: center;*/
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
    padding-left: 0;
    /*width: auto;*/
    border: 0;
    /*border-left: thin solid #000000;*/
    pointer-events: none;
    line-height: 12px;
    padding-top: 0;
    display: block;
}

div.tooltip_ {
    position: absolute;
    text-align: left;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
    padding-left: 0;
    width: auto;
    border: 0;
    /*border-left: thin solid #000000;*/
    pointer-events: none;
    line-height: 12px;
    padding-top: 0;
    display: block;
}

.x_tick_emph {
    font-weight: bold;
}

.ytitle {
    /* y axis labels */
    dominant-baseline: middle;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
}

.axis path,
.axis line {
    display: none;
}

#theme_0 { 
    stroke: darkorange;
    stroke-width: 2;
    fill: none;
}

#theme_0:hover { 
    stroke-width: 3;
}

#theme_1 { 
    stroke: tomato;
    stroke-width: 2;
    fill: none;
}

#theme_1:hover { 
    stroke-width: 3;
}

#theme_2 { 
    stroke: orangered;
    stroke-width: 2;
    fill: none;
}

#theme_2:hover { 
    stroke-width: 3;
}

.theme_0 { 
    fill: darkorange;
    stroke: white;
    stroke-width: 1;
}

.theme_1 { 
    fill: tomato;
    stroke: white;
    stroke-width: 1;
}

.theme_2 { 
    fill: orangered;
    stroke: white;
    stroke-width: 1;
}

/*circle #theme_2 {
    fill:steelblue;
}*/

/*.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}*/

.axis text {
    font-size: 12px;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    fill: #777;
}

.vert_grid {
    fill: none;
    stroke: #dddddd;
    stroke-width: 1px;
}

.vert_grid_emph {
    fill: none;
    stroke: #dddddd;
    stroke-width: 2px;
}

.horz_grid {
    fill: none;
    /*stroke: #dddddd;
    stroke-width: 1px;*/
}

.heading {
    font-size: 16px;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    font-weight: bold;
}

.subheading {
    font-size: 12px;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    fill: #777;
}

.legend {
    dominant-baseline: middle;
    font-family: "Muli", "Helvetica", Arial, sans-serif;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
    /*fill: #777;*/
}