<!-- TODO:
automating additional layers having different colors
removing months/days from parsed dates
adding screenshots or something to resources -->

<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Dynamic Personal Archives</title>

	<link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
	<link href='static/visavail/css/visavail.css' rel='stylesheet' type='text/css'>
	<link href='static/vendors/font-awesome/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
	<link href='static/vendors/pure-release-0.6.0/buttons-min.css' rel='stylesheet' type='text/css'>
	<link href='static/vendors/pure-release-0.6.0/forms-min.css' rel='stylesheet' type='text/css'>

</head>

<body>
	<div class="heading">
		<h1>Dynamic Personal Archives</h1>
		<!-- <p>The Career of Douglas Engelbart</p> -->
	</div>
	<div class="navigation">
		<div class="pure-form search">
			<input class="pure-form" id="query" placeholder="Enter query">		  
			<button class="pure-form pure-button button-small" onclick="search()">Search</button>		
		</div>

		<p id="chart"><!-- Visavail.js chart will be placed here --></p>

	</div>

	<div class="examination">
	</div>

	<script type="text/javascript">
		var dataset = [{
			"measure": "Organization",
			"data": [
				["1960", 0, "1978", "SRI"],
				["1978", 0, "1984", "Tymshare"],
				["1984", 0, "1988", "McDonnel-Douglas"],
				["1988", 0, "2005", "Bootstrap Institute"]
			]
		}, {
			"measure": "Project",
			"data": [
				["1960", 1, "1978", "NLS"],
				["1978", 1, "1984", "AUGMENT"],
				["1984", 1, "1988", "Aircraft Specs"],
				["1988", 1, "1991", "Bootstrap Seminars"],
				["1991", 1, "2005", "Bootstrap Alliance"]
			]
		}];

		var corpus;
		var influences;

		function initialize_chart(corpus, influences) {
			var chart = visavailChart(corpus, influences).width(800);
			d3.select("#chart")
					.datum(dataset)
					.call(chart);			
		}

		function _get(url, cb) {
			var xhr = new XMLHttpRequest();
			xhr.open("GET", url, true);
			xhr.onload = function() {
				cb(this.responseText);
			}
			xhr.send();
		}

		function _get_json(url, cb) {
			_get(url, function(dat) {
				cb(JSON.parse(dat));
			});
		}

		_get_json("static/data/db.json", function(ret_corpus) {
			_get_json("static/data/dim.json", function(ret_influences) {
				initialize_chart(ret_corpus, ret_influences);
			})
		});

	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="static/visavail/js/visavail.js"></script>
	<script src="static/vendors/moment/moment-with-locales.min.js" type="text/javascript"></script>
	<script src="static/vendors/masonry/masonry.pkgd.min.js" type="text/javascript"></script>
	<script src="static/vendors/d3/d3.min.js" charset="utf-8"></script>
	<script>
		moment.locale('en');
	</script>

</body>

</html>
