<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dynamic Personal Archives Demo</title>
</head>
<body>

<!-- <ul id="navigation">
    {% for item in navigation %}
        <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
    {% endfor %}
    </ul> -->
    <!-- {{ a_variable }}
    {# a comment #} -->

    Douglas Engelbart Timeline
	<div style="width:100%;"> 

		<div style="float:left; width:50%;">
			Timeline
		</div>
		<div style="float:right; width:50%; ">
			Details 
		</div>
	</div>

</body>
</html>