<html>
<head>
	<meta charset="utf=8" />
	<link rel="stylesheet" type="text/css" href="/static/css/xaxis.css">
	<script src="/static/js/modernizr.js"></script> <!-- Modernizr -->

	<link href='https://fonts.googleapis.com/css?family=Playfair+Display:700,900|Fira+Sans:400,400italic' rel='stylesheet' type='text/css'>
</head>

<body>

	<section class="cd-horizontal-timeline">
		<div class="timeline">
			<div class="events-wrapper">
				<div class="events">
						<li><a href="#0" data-date="01/01/1960" class="selected">1960</a></li>
						<li><a href="#0" data-date="01/01/1965">1965</a></li>
						<li><a href="#0" data-date="01/01/1970">1970</a></li>
						<li><a href="#0" data-date="01/01/1975">1975</a></li>
						<li><a href="#0" data-date="01/01/1980">1980</a></li>
						<li><a href="#0" data-date="01/01/1985">1985</a></li>
						<li><a href="#0" data-date="01/01/1990">1990</a></li>
						<li><a href="#0" data-date="01/01/1995">1995</a></li>
						<li><a href="#0" data-date="01/01/2000">2000</a></li>
					<span class="filling-line" aria-hidden="true"></span>
				</div> <!-- .events -->
			</div> <!-- .events-wrapper -->
		</div>
	</section>
	
	<script src="/static/js/timeline1.js"></script>
	<script src="/static/js/jquery-2.1.4.js"></script>
	<script src="/static/js/jquery.mobile.custom.min.js"></script>
	<script src="/static/js/main.js"></script> <!-- Resource jQuery -->
</body>

</html>
