<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
</head>

<body onload="set_up()">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
	<script type="text/javascript">
				var tag = document.createElement('script');	
				tag.src = "https://www.youtube.com/iframe_api";
			  	var firstScriptTag = document.getElementsByTagName('script')[0];
			  	firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
				
				function onYouTubeIframeAPIReady() {
					player = new YT.Player('player', {
						height: '240',
						width: '360',
						videoId: 'yJDv-zdhzMY',
						events: {
							'onReady': onPlayerReady
						}
					});
				}
			    function onPlayerReady(event) {
					event.target.playVideo();
			    }
	</script>
	<div id="player"> </div>
	<span><mark>daddkf</mark>

</body>
<script>
				
</script>
</html>